*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: white;
  --green: #09a494;
  --txtColor: #212121;
}


body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0;
    color: var(--txtColor);
}

h1 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.1;
  color: var(--txtColor);
  margin: 0;
}

h2 {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: var(--txtColor);
    margin: 0 0 40px 0;
}

p {
  margin: 0;
  margin-bottom: 15px;
}

p:last-child {
  margin: 0;
}

button {
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.rounded {
  border-radius: 50%;
  margin-right: 46px;
  height: 60px;
}

.nav-btn {
  display: none;
}

.hide {
  display: none;
}

.main-nav {
  display: flex;
}
.main-nav a {
  display: inline-block;
  padding: 10px 15px;
  color: var(--txtColor);
  text-decoration: none;
}


.main-nav a:hover {
  color: var(--green);
}

.user-container {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-bottom: 120px;
  margin-top: 120px;
  justify-content: space-between;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subtitle {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.2;
  color: var(--green);
}

.round_ava {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.text-wrapper {
  max-width: 800px;
}

.about {
  margin-bottom: 120px;
}

.skills {
  margin-bottom: 120px;
}

.skills-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  margin-bottom: 30px;
}

.skills-header h2 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.skills-header-btns {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skills-header-btns div {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--txtColor);
}

.skills-header-btns button {
  border: 1px solid var(--green);
  border-radius: 8px;
  padding: 6px 10px 10px 10px; /* top right bottom left */
  background: transparent;
  color: var(--green);
  font-size: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  height: 36px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skills-header-btns button:hover {
  background: var(--green);
  color: var(--white);
}

.skills_list {
  margin: 0;
  padding: 0;
  line-height: 1;
  gap: 10;
}

.skills_list dt {
  margin-bottom: 6px;
  padding-left: 40px;
  min-height: 30px;
  display: flex;
  align-items: center;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.html_icon {
  background-image: url("../img/skill=html.svg");
}

.css_icon {
  background-image: url("../img/skill=css.svg");
}

.csharp_icon {
  background-image: url("../img/skill=c++++.svg");
}

.cpp_icon {
  background-image: url("../img/skill=c++.svg");
}

.progress-bar {
  margin: 10px 0 17px;
  width: 100%;
  height: 18px;
  background-color: var(--white);
  position: relative;
  border-radius: 100px;
  outline: 1px solid var(--txtColor);
  padding: 2px;
  box-sizing: border-box;
}

.progress-bar2 {
  height: 100%;
  background-color: var(--green);
  border-radius: 100px;
  width: calc(var(--value, 0%) - 4px);
}

.interests {
  margin-bottom: 120px;
}

.contacts-block {
  justify-content: flex-start;
  align-items: center;
  gap: 45px;
}

.contacts-block ul {
  display: flex;
  align-items: center;
  gap: 45px;
  padding: 0;
  margin: 0;
}

.contacts-block li {
  list-style: none;
}

.contacts-block a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: var(--txtColor);
  text-decoration: none;
}

.contacts-block a:hover {
  color: var(--green);
}

.phone-link,
.email-link {
  display: inline-flex;
  align-items: center;
  padding-left: 40px;
  min-height: 30px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px 30px;
  overflow: visible;
}

.phone-link {
  background-image: url("../img/ContactsIcon.svg");
}

.email-link {
  background-image: url("../img/email.svg");
}

.social {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 0;
}

.social li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-block {
  display: block;
  width: 50px;
  height: 50px;
  outline: 1px solid var(--green);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.social a:hover {
  outline: 1px solid var(--white);
  background-color: var(--green);
}

.social-link-tg {
  background-image: url("../img/social=telegram.svg");
  text-decoration: none;
}

.social-link-inst {
  background-image: url("../img/social=instagram.svg");
  text-decoration: none;
}

.social-link-git {
  background-image: url("../img/social=github.svg");
  text-decoration: none;
}

.main-header {
    display: flex;
    padding-top: 60px;
    gap: 0px;
    align-items: center;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    height: 120px;
}

.main-header nav{
    display: flex;
}

.main-footer {
  background: var(--txtColor);
  color: var(--white);
  width: 100%;
  margin-top: 120px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

@media screen and (max-width: 1024px) {
    h1 {
    font-size: 50px;
    }

    h2 {
    font-size: 24px;
    margin: 0 0 40px 0;
    }

    h3 {
    font-size: 18px;
    }

    .rounded {
    height: 60px;
    width: 60px;
    margin-right: 0;
    }

    body {
    font-size: 16px;
    }

    .round_ava {
    width: 250px;
    height: 250px;
    }

    .subtitle {
    font-size: 28px;
    }

    .main-header {
    margin-bottom: 80px;
    gap: 40px;
    }

    .main-footer {
    margin-top: 80px;
    }

    .about {
    margin-bottom: 80px;
    }

    .skills {
    margin-bottom: 80px;
    }

    .interests {
    margin-bottom: 80px;
    }

    .user-container {
    margin-bottom: 80px;
    }

    .contacts-block a {
    font-size: 16px;
    }

    .contacts-block {
    gap: 40px;
    }
}

@media screen and (max-width: 650px) {
    h1 {
    font-size: 32px;
    }

    h2 {
    font-size: 20px;
    margin: 0 0 30px 0;
    }

    h3 {
    font-size: 16px;
    }

    .rounded {
    height: 40px;
    width: 40px;
    }

    body {
    font-size: 14px;
    }

    .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    }

    .main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 20px;
    gap: 20px;
    height: auto !important;
    }

    .main-header-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 50px;
/*    padding-bottom: 20px;*/
    }

    .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    width: 100%;
    }

    .main-header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    }

    .nav-btn {
    display: block;
    width: 30px;
    height: 30px;
    }

    .nav-btn-close {
    background-image: url(../img/close.svg);
    }

    .subtitle {
    font-size: 20px;
    }

    .social {
    margin-top: 20px;
    gap: 15px;
    }

    .contacts-block a {
    font-size: 14px;
    }

    .user-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 0;
    margin-top: 0;
    justify-content: flex-start;
    }

    .round_ava {
    display: block;
    height: 150px;
    width: 150px;
    margin: 0 auto 0px auto;
    order: 0;
    }

    .skills-header {
    margin-bottom: 20px;
    }

    .text-container {
    width: 100%;
    text-align: center;
    margin: 0;
    order: 1;
    gap: 10px;
    }

    .main-footer {
    margin-top: 50px;
    padding-top: 30px;
    }

    .about {
    margin-bottom: 50px;
    }

    .skills {
    margin-bottom: 50px;
    }

    .interests {
    margin-bottom: 50px;
    }

    .user-container {
    margin-bottom: 50px;
    }

    .contacts-block {
    gap: 40px;
    }
}

@media screen and (max-width: 360px) {
    .skills-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    gap: 20px;
    }
    
    .skills-header h2 {
    width: 100%;
    }
    
    .skillsHeaderRight {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    width: 100%;
    }
    
    .skills-header-btns > div,
    .skills-header-btns > button {
    width: 100%;
    padding-bottom: 6px;
    }
    
    .contacts-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    }
    
    .contacts-block ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin: 0;
    }
    
    .contacts-block a {
    width: 100%;
    text-align: left;
    display: block;
    padding-top: 10px;
    }

    .skills_list {
    margin-top: 25px;
    }
}